<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ChartSettings" connectionString ="http://localhost:5000/api/ChartSetting"/>
    <add name="ChartLookups" connectionString ="http://localhost:5000/api/ChartLookups"/>
    <add name="NotificationRemote" connectionString="http://127.0.0.1:8081"/>
    </connectionStrings>
</configuration>